div.box{
    background-color: black;
    border: 2px solid aqua;
    /* width: 500px; */
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */
    /* flex-direction:row; */
    flex-flow: wrap row;
    gap: 12px;
}

div div {
    background-color: aqua;
    border: 2px solid black;
    /* height: 250px; */
    /* width: 250px; */
    flex-shrink: 1 0 auto;
}

div.b2{ 
    align-self: center;
    /* order:1; */
    flex-grow: 2 ;

}

div.b3{
    flex-grow: 1;
}
