div.parent{
    display: grid;
    grid-template-columns:3fr 1fr ;
    grid-template-rows:2fr 6fr 2fr ;
    gap: 4px;
}

.header{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: red;
}

.content{
    background-color: blue;
}

.section{
    background-color: yellow;
}

.footer{
     grid-column-start: 1;
    grid-column-end: 3;
    background-color: orange;
}
