@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
p{
    font-size:2em ;
    font-weight:900 ;
    font-style:italic;
    text-transform:lowercase;
    text-decoration:underline;
    line-height:2em;  
    word-spacing:24px;
    letter-spacing:12px;
    text-align:justify;
    text-indent:8em;
    text-shadow:2px 2px 2px black;
}

p:first-letter{
    text-transform:capitalize;
}

p::first-line{
    color:blue;
    text-shadow:2px 2px 2px blue;
    text-decoration: underline blue;
}

a{
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap');
h1,h2{
    font-family:Science+Gothic,Akbar 
}  

h1:hover{
      background-color: blue;                                                                                                                           
      color:aliceblue;
      zoom:;
}

a:active{
    color:blue;
}

input:focus{
    background-color:brown;
    color:Green ;
}

.box-1{
    background-color: blanchedalmond;
    height:50hv;
    width: 300px;
    min-width: 50px;
    max-width: 1000000054760000px;
    text-align: justify;
    overflow: auto;
    border top: yellow 12px solid;
    border bottom: yellow 12px solid;
    border left: yellow 12px solid;
    border right: yellow 12px solid;
}