.box{
    margin-top:calc(50vh - 100px);
    margin-left:calc(50vw - 100px);
    background-color: blue;
    height: 100px;
    width: 100px;
    border: 2px solid burlywood;
    border-radius: 50%;
    position:relative;
    animation:box-position 1s  linear infinite;
}

/* .box:hover{
    animation:box-position 3s  linear infinite ; */

@keyframes box-position{
    /* 0%{
        top:0vh;
        left:0vw;
    }
    25%{
        top:calc(100vh - 100px);
        left:calc(25vw - 100px)
    }
    50%{
        top:0vh;
        left:calc(50vw - 100px)
    }
    75%{
        top:calc(100vh - 100px);
        left:calc(75vw - 100px);
    }
    100%{
        top:0vh;
        left:calc(100vw - 100px)
    } */
    from{
        top:0px;
        left:0px;
    }
    to{
        transform: scale(2);
    }
}